@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

* {
  font-family: "Shizuru", sans-serif;
}

.App {
  text-align: center;
}

h1 {
  text-align: center;
  border-bottom: black 2px;
  font-size: 5em;
}
.main {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

img {
  height: 100px;
  width: 100px;
}

.invisible {
  display: none;
}

.Box {
  height: 150px;
  width: 150px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.Box > p {
  font-size: 68px;
  padding: 0px;
  user-select: none;
}

.invisible-top {
  border-top: none;
}

.invisible-right {
  border-right: none;
}

.invisible-left {
  border-left: none;
}

.invisible-bottom {
  border-bottom: none;
}

.gameBoard {
  margin: 0 auto;
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin-bottom: 3em;
  font-size: 20px;
}

.playerTurnFont {
  font-size: 40px;
}

.scoreMain {
  display: flex;
  flex-direction: row;
}

.score {
  margin-right: 40px;
}

.userIcon {
  height: 4em;
  width: 4em;
  margin-left: 20px;
}

.winnerIcon {
  height: 10em;
  width: 10em;
}

.winnerText {
  font-size: 40px;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

.resetButton {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

button {
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid green;
  padding: 10px 15px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}
