.App {
  text-align: center;
  
}

h1 {
  text-align: center;
  border-bottom: black 2px;
  
}
.main {
  background-color: #ACB0BD;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  background-color: rgb(62, 49, 245);
}
.Box > p {
  font-size: 68px;
  padding: 0px;
  user-select: none;
}

.gameBoard {
  margin: 0 auto;
  width: 310px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreMain {
  display: flex;
  flex-direction: row;

}

.score {
  margin-right: 40px;
}