.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.Box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;

}
.Box > p {
  font-size: 68px;
  padding: 0px;
}

.gameBoard {
  margin: 0 auto;
  width: 310px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.Noughts {
  background-color: green;
}

.Crosses {
  background-color: pink;
}
