@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

* {
  font-family: "Shizuru", sans-serif;
}

body {
  background-color: black;
}

.App {
  text-align: center;
}

h1 {
  text-align: center;
  border-bottom: black 2px;
  font-size: 5em;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

img {
  height: 100px;
  width: 100px;
}

.invisible {
  display: none;
}

.Box {
  height: 150px;
  width: 150px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.Box > p {
  font-size: 68px;
  padding: 0px;
  user-select: none;
}

.invisible-top {
  border-top: none;
}

.invisible-right {
  border-right: none;
}

.invisible-left {
  border-left: none;
}

.invisible-bottom {
  border-bottom: none;
}

.gameBoard {
  margin: 0 auto;
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h3 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 3em;
  font-size: 20px;
  min-height: 80px;
}

.playerTurnFont {
  font-size: 40px;
}

.mattMessage {
  color: green;
}

.scoreMain {
  display: flex;
  flex-direction: row;
}

.score {
  margin-right: 40px;
}

.userIcon {
  height: 4em;
  width: 4em;
  margin-left: 20px;
}

.winnerIcon {
  height: 10em;
  width: 10em;
}

.winnerText {
  font-size: 40px;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

.resetButton {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

button {
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid green;
  padding: 10px 15px;
}

.fade-in-image {
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.6em;
  }

  .playerTurnFont {
    font-size: 1.4em;
  }

  .Box {
    height: 85px;
    width: 85px;
  }

  .gameBoard {
    height: 245px;
    width: 245px;
  }

  img {
    height: 60px;
    width: 60px;
  }

  button {
    font-size: 20px;
  }
}
